certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
lgpio==0.2.2.0
numpy==1.24.4
opencv-python==4.7.0.72
pillow==10.4.0
requests==2.32.3
rpi-lgpio==0.6
smbus2==0.4.3
spidev==3.6
urllib3==2.2.2
PyAudio==0.2.13
google-generativeai==0.7.2
SpeechRecognition==3.10.4
pyttsx3==2.91
gTTS==2.5.3
ultralytics[export]
#torch==2.3.0
#torchvision==0.18.0
