<div class="group-28">
  <div class="menu">
    <img class="x-circle" src="x-circle0.svg" />
    <div class="menu2">Menu</div>
  </div>
  <img class="image-9" src="image-90.png" />
  <img class="image-10" src="image-100.png" />
  <img class="image-11" src="image-110.png" />
  <img class="image-12" src="image-120.png" />
  <img class="image-13" src="image-130.png" />
  <img class="image-14" src="image-140.png" />
  <img class="image-15" src="image-150.png" />
  <img class="image-16" src="image-160.png" />
</div>
